.HeroText {
  max-width: 480px;
}

.ServicesText {
  max-width: 952px;
  color: #7d7987;
  text-align: center;
}

.CardIcon {
  padding: 24px;
  padding-left: 0;
}

.WrapIcon {
    margin-bottom: 16px;
    height: 10vw;
}

.Card {
  min-width: 275px;
  height: 354px;
  margin: 16px;
}

.CardGrid {
  max-width: 1000px;
}

.CardText {
  color: #7d7987;
  width: 261px;
  height: 84px;
}

.Image {
  width: 477px;
}

.HeroContainer {
  padding-top: 80px;
  padding-bottom: 112px;
  background-size: cover;
  background: url(../../../assets/images/element.png) no-repeat;
}
.ServicesContainer {
  padding-top: 80px;
  padding-bottom: 112px;
  background: url(../../../assets/images/vector_bg.png) no-repeat;
  background-size: contain;
  position: relative;
}

.Element {
  position: absolute;
  right: 300px;
  z-index: -1;
}

.Footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding: 88px;
  color: #fff;
}

.FooterLogo {
  display: flex;
}

.FooterText {
  max-width: 400px;
}

.List {
  padding-left: 0;
}

.mr2 {
  margin-bottom: 16px;
}

.mr3 {
  margin-bottom: 24px;
}
