.HeroText {
  max-width: 480px;
}

.ServicesText {
  max-width: 952px;
  color: #7d7987;
  text-align: center;
}

.CardIcon {
  padding: 24px;
}

.Card {
  min-width: 275px;
  height: 354px;
  margin: 16px;
}

.CardGrid {
  max-width: 1000px;
}

.CardText {
  color: #7d7987;
  width: 261px;
  height: 84px;
}

.Image {
  width: 477px;
}

.HeroContainer {
  padding-top: 80px;
  padding-bottom: 112px;
}

.Element {
  position: fixed;
  left: 0;
}

.Footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding: 88px;
//   height: 100px;
  color: #fff;
  margin-top: 100px;
}

.FooterLogo {
    display: flex;
}

.FooterText {
    max-width: 400px;
}

.List {
    padding-left: 0;
}

.mr2 { 
    margin-bottom: 16px;
}

.mr3 {
    margin-bottom: 24px;
}