html, body {
  height: 100%;
  width: 100%;
}
.full-width {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100%;
  background-color: #ff5722 !important;
}
.footer-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #929fba;
  padding: 14px 0;
  z-index: 1000;
  .footer-display {
    background-color: #929fba;
    padding: 14px 0;
  }
  .copyright {
    background-color: #929fba;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 1rem;font-weight: 600;
    color: #ffff;
    a {
      color: #ec407a;
    }
  }
}

.bgimg {
  // flex: 1;
  background: url("/images/healthImages/francisco-venancio-M4Xloxsg0Gw-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  min-height: 100vh;
  align-items: center !important;
}
.text-content {
  padding-left: 10px !important;
  width: 50%;
  h5 {
    color: #1C2331;
    font-size: 1rem;
  }
}
.icon-styles {
  font-size: 25px;
  padding: 5px 10px;
}
.list-styles {
  padding-left: 5px 0;
}
.collapsed-drawer {
  padding-left: 1rem;
}
.bgc {
  background-color: red;
}
.sub-items {
  padding-left: 3.75rem;
}

.list-label {
  font-weight: 500 !important;
}
.header-title {
  // margin-top: 1rem;
  margin-bottom: 0 !important;
  padding: 20px !important;
  font-size: 1.25rem;
  font-weight: 700 !important;
}
.collapse-label {
  font-size: 0.90rem;
}
.step-center {
  margin: auto;
  padding-top: 1rem;
  border: 5px;
  border-color: black;
}
.hos-styles {
  padding: 0 1rem !important;
}
// loader css
#loader {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    background: #fff;
    z-index: 90000;
  }
  .centered {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  #loader.fadeOut {
    opacity: 0;
    visibility: hidden;
  }
  .spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #4caf50;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
    animation: sk-scaleout 1.5s infinite ease-in-out;
  }
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(2.0);
      opacity: 0;
    }
  }
  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(2.0);
      transform: scale(2.0);
      opacity: 0;
    }
  }